{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}
                    {% if snippet.user == request.user %}
                        <a href="{% url 'snippet-delete' snippet.id %}">
                            <i class="fa-sharp fa-solid fa-trash"></i></a>
                        <a href="{% url 'snippet-change' snippet.id %}">
                            <i class="fa-sharp fa-solid fa-gear"></i></a>
                    {% endif %}
                </h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <fieldset disabled>
                       <div class="row disabled">
                           <div class="col col-4">
                               Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                           </div>
                           <div class="col col-4">
                               Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                           </div>
                           <div class="col col-4">
                               Настройка приватности:<input type="text" value="{{ snippet.privacy|yesno:"Частный, Публичный" }}" class="form-control">
                           </div>
                       </div>
                       <hr>
                       <div class="row">
                           <div class="col">
                               <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                   <p>
                                       {{ snippet.code }}
                                   </p>
                               </div>
                           </div>
                       </div>
            </div>
        </div>
{% endblock %}

